Source: android-framework-23
Section: java
Priority: optional
Maintainer: Android Tools Maintainers <android-tools-devel@lists.alioth.debian.org>
Uploaders: Hans-Christoph Steiner <hans@eds.org>,
           Kai-Chung Yan <seamlikok@gmail.com>,
           Chirayu Desai <chirayudesai1@gmail.com>
Build-Depends: aapt,
               aidl,
               android-logtags-tools,
               debhelper (>= 9),
               default-jdk-headless | default-jdk (>= 2:1.7),
               doclava-aosp,
               gradle-debian-helper,
               maven-repo-helper,
               unzip
Standards-Version: 3.9.8
Homepage: https://android.googlesource.com
Vcs-Git: https://anonscm.debian.org/git/android-tools/android-framework-23.git
Vcs-Browser: https://anonscm.debian.org/cgit/android-tools/android-framework-23.git

Package: libandroid-23-java
Architecture: all
Depends: ${misc:Depends}
Description: Android platform framework for API Level 23 (Marshmallow)
 This package provides "android.jar" in the "Android platforms" that is used to
 build an Android application.

Package: libandroid-uiautomator-23-java
Architecture: all
Depends: libandroid-23-java, ${misc:Depends}
Description: UI Automator framework for API Level 23 (Marshmallow)
 This package provides "uiautomator.jar" in the "Android platforms" that is used
 to build an Android application.

Package: android-platform-23
Section: devel
Architecture: all
Depends: libandroid-23-java (>= ${source:Version}),
         libandroid-uiautomator-23-java (>= ${source:Version}),
         ${misc:Depends}
Description: Android platform for API Level 23 (Marshmallow)
 This package provides all the files needed to target apps for this version.
