#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk

UPSTREAM_TAG := android-$(subst +,_,$(DEB_VERSION_UPSTREAM))
REPOS := frameworks-base frameworks-opt-net-voip frameworks-opt-telephony libcore external/junit

LOGTAGS := $(shell find frameworks/base/core -name *.logtags)

debian/out/all-event-log-tags.txt: $(LOGTAGS)
	merge-event-log-tags -o $@ $^

%/EventLogTags.java: %/EventLogTags.logtags debian/out/all-event-log-tags.txt
	java-event-log-tags -o $@ $^

aidl:
	make -f debian/aidl.mk

%:
	dh $@

override_dh_auto_build: aidl
	mkdir -p debian/out/R
	ln -s values-mcc310-mnc150 frameworks/base/core/res/res/values-mcc310-mnc170
	ln -s values-mcc310-mnc150 frameworks/base/core/res/res/values-mcc310-mnc380
	aapt package -u -x -z -m -J debian/out/R \
	             -M frameworks/base/core/res/AndroidManifest.xml \
	             -S frameworks/base/core/res/res -A frameworks/base/core/res/assets \
	             -F debian/out/framework-res.apk \
	             --min-sdk-version 23 --target-sdk-version 23 \
	             --product default \
	             --version-code 23 --version-name 6.0.1 \
	             --skip-symbols-without-default-localization
	unzip -q debian/out/framework-res.apk -d debian/out/framework-res
	dh_auto_build --buildsystem=gradle -- --settings-file debian/settings.gradle assemble

override_dh_auto_clean:
	dh_auto_clean --buildsystem=gradle
	mh_clean
	$(RM) -r debian/.gradle debian/build .gradle
	$(RM) -r debian/out
	$(RM) $(LOGTAGS:.logtags=.java)
	$(RM) frameworks/base/core/res/res/values-mcc310-mnc170
	$(RM) frameworks/base/core/res/res/values-mcc310-mnc380

override_dh_install:
	dh_install
	mh_install
	$(RM) -r debian/libandroid-23-java/usr/share/maven-repo/com/android/android/debian

get-orig-source: $(patsubst %, %.tar.gz, $(REPOS))
	$(foreach repo, $(REPOS), mkdir -p $(DEB_SOURCE)-$(DEB_VERSION_UPSTREAM)/$(subst -,/,$(repo));)
	$(foreach repo, $(REPOS), tar -f $(repo).tar.gz -z -x --directory $(DEB_SOURCE)-$(DEB_VERSION_UPSTREAM)/$(subst -,/,$(repo));)
	tar --create --xz -f ../$(DEB_SOURCE)_$(DEB_VERSION_UPSTREAM).orig.tar.xz $(DEB_SOURCE)-$(DEB_VERSION_UPSTREAM)
	rm -r $^ $(DEB_SOURCE)-$(DEB_VERSION_UPSTREAM)

%.tar.gz:
	wget https://android.googlesource.com/platform/$(subst .tar.gz,,$(subst -,/,$@))/+archive/$(UPSTREAM_TAG).tar.gz -O $@
